/*==============================
=            Header            =
==============================*/
.header-page {
  padding: 70px 0 50px;
  text-align: center;
}

.title-page {
  font-size: 5rem;
  letter-spacing: -0.5rem;
  font-weight: 400;
  margin: 0;
  color: white;
  text-align: center
}
