<div class="load" *ngIf="loading"></div>

<section class="daily-forecast" *ngIf="dayForecast !== null && !loading">
  <div class="container">
    <h2 class="item today">
      <span style="padding: 10px"> <i class="fa fa-calendar"></i>{{ dayForecast.day | amDateFormat: 'dddd'}} </span>
      <span style="padding: 10px" *ngIf="dayForecast.isToday"> <i class="fa fa-clock-o"></i>{{ realTime | amDateFormat:'HH:mm:ss' }} </span>
    </h2>

    <div class="box-daily">
      <div class="item -icon">
        <i class="wi wi-lunar-eclipse" [ngClass]="dayForecast.icon"></i>
      </div>

      <div class="item -temp">
        {{ dayForecast.temp }}
      </div>

      <div class="item unit-items">
        <div class="unit" [ngClass]="{ '-selected': unitMetrics == 'ca' }"><i class="wi wi-celsius"></i> </div>
        <!--<div class="unit" ng-click=" ctrl.changeUnit('us') " ng-class="{ '-selected': unitMetrics == 'us' }">°F</div>-->
      </div>

      <div class="item description-daily">
        <h3 class="status">{{ dayForecast.status }}</h3>

        <ul class="list-status">
          <li class="status">Humidity: {{ dayForecast.humidity }}%</li>
          <li class="status">Wind: {{ dayForecast.wind }} km/h</li>
        </ul>
      </div>
    </div><!-- End box-daily -->

  </div>

</section><!-- End daily-forecast -->

