/*======================================
=            Forecast Daily            =
======================================*/
.daily-forecast {
  position: relative;
}

.daily-forecast .container {
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
}
.daily-forecast .today {
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
}
@media (max-width: 870px) {
  .daily-forecast .today {
    font-size: 1.8rem;
  }
}
.box-daily {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 870px) {
  .box-daily {
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.item {
  color: white;
}

.box-daily >.item {
  margin: 0 10px;
}
.box-daily >.item.-icon {
  font-size: 5.5rem;
}
@media (max-width: 870px) {
  .box-daily >.item.-icon {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -140px;
    font-size: 3rem;
  }
}
.box-daily >.item.-temp {
  font-size: 8rem;
  line-height: 9rem;
  margin-right: 0;
}
.unit-items {
  position: relative;
  width: 36px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
@media (max-width: 870px) {
  .unit-items {
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: -130px !important;
  }
}
.unit-items >.unit {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  top: 55px;
  margin: 0;
  font-size: 1.8rem;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.5;
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.unit-items >.unit:hover {
  opacity: 1;
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.unit-items >.unit.-selected {
  top: 10px;
  border-color: #fff;
  margin-top: 0;
  opacity: 1;
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.description-daily {
  max-width: 300px;
}
@media (max-width: 870px) {
  .description-daily {
    text-align: center;
  }
}
.description-daily >.status {
  font-size: 2.8rem;
  line-height: 2.8rem;
  margin: 0 0 5px;
}
@media (max-width: 870px) {
  .description-daily >.status {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
}
.list-status {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-status >.status {
  font-size: 1.8rem;
}
@media (max-width: 870px) {
  .list-status >.status {
    font-size: 1.6rem;
  }
}
