<section class="search-city">
  <form>
    <input selectText
           type="text"
           name="field"
           class="search"
           minlength="3"
           placeholder="Search city..."
           [(ngModel)]="city.name"
           (ngModelChange)="searchCity()"
           (focus)="searchFocus = true"
           (blur)="searchFocus = false"
           required
           autocomplete="off">

    <ul class="search-list"
        [ngClass]="{'open' : searchFocus && city.name}">
      <li class="item" *ngFor="let cityTemp of cities" (click)="selectCity(cityTemp)">
        <span>{{cityTemp.name}}</span>
      </li>
    </ul>
  </form>
</section><!-- End search-city -->
