/*======================================
=            Search section            =
======================================*/
.search-city {
  position: relative;
  margin: 0 auto 20px auto;
  max-width: 600px;
}
@media (max-width: 870px) {
  .search-city {
    max-width: 100%;
  }
}
.search-city .search {
  width: 100%;
  height: 60px;
  margin: 1px;
  border: 1px solid rgba(255,255,255,0.5);
  background: transparent;
  font-size: 2.8rem;
  color: #fff;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (max-width: 870px) {
  .search-city .search {
    font-size: 1.8rem;
  }
}
.search-city .search:hover,
.search-city .search:focus,
.search-city .search.ng-not-empty {
  border-color: #fff;
}
.search-list {
  z-index: 999;
  top: 100%;
  width: 100%;
  max-height: 0;
  padding: 0;
  margin: -2px 0 0;
  list-style: none;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #fff;
  border-top: 0;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-transition: all 0.3s 0.3s ease-out;
  -moz-transition: all 0.3s 0.3s ease-out;
  -ms-transition: all 0.3s 0.3s ease-out;
  -o-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
}
.search-list.open {
  opacity: 1;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  visibility: visible;
  max-height: 250px;
}
.search-list >.item {
  cursor: pointer;
  padding: 10px;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #00b6db;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.search-list >.item:hover,
.search-list >.item:focus {
  color: #fff;
  background-color: #00b6db;
}
