/*=====================================
=            Forecast Days            =
=====================================*/
.forecast-days {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 40px 0;
}
@media (max-width: 870px) {
  .forecast-days {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.box-day {
  border: 1px solid rgba(255,255,255,0.5);
  padding: 10px 15px;
  margin: 0 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  color: #fff;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (max-width: 870px) {
  .box-day {
    margin: 10px;
  }
}
.box-day:hover,
.box-day.-active {
  border-color: #fff;
  background-color: rgba(255,255,255,0.2);
}
.box-day:hover .title,
.box-day.-active .title {
  opacity: 1;
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.box-day:disabled {
  cursor: not-allowed;
}
.box-day >.title {
  display: block;
  text-align: center;
  margin: 0;
  font-size: 1.1rem;
  opacity: 0.5;
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.box-day >.icon {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin: 5px 0;
}
.temp-status {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.temp-status >.max {
  font-size: 1.5rem;
}
.temp-status >.min {
  font-size: 1rem;
  opacity: 0.5;
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
